<head>
    <title>CSS Template</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>

    </style>
</head>

<body>
    <div class="header">
        <div class="title">
            <span>Gif Search</span>
        </div>
        <form class="example" action="/action_page.php">
            <input name="subtitle" #searchTerm type="text" placeholder="What are you looking for?" name="search">
            <button type="button" (click)="performSearch(searchTerm)"><i class="fa fa-search"></i></button>
        </form>
        <p>You can search any GIF with our search</p>
        <p class="p-12">Everything you need for your creative projects, websites, banners, presentations, magazines and advertising </p>
    </div>
    <div class="grid-container">
        <div *ngFor="let gif of gifData" class="grid-item">
            <img [src]="gif.images.original.url" alt="" height="auto" width="100%">
        </div>
    </div>
    <div class="footer">
        <div class="contain">

            <div class="col signup">
                <ul>
                    <li>
                        <p>sign up and</p>
                        <p>get free content every week</p>
                    </li>
                    <li>
                        <form action="/action_page.php">
                            <input class="input" placeholder="Enter your email..">
                        </form>
                        <button class="primary">sign up</button>
                    </li>
                </ul>


            </div>
            <div class="category">
                <p>Browse by category</p>
            </div>
            <div class="row">
                <div class="col">
                    <ul>
                        <li>Graphics</li>
                        <li>PSDs</li>
                        <li>Icons</li>
                        <li>Templates</li>
                        <li>Themes</li>
                    </ul>
                </div>
                <div class="col">
                    <ul>
                        <li>Addons</li>
                        <li>Fonts</li>
                        <li>Textures</li>
                        <li>Patterns</li>
                        <li>Backgrounds</li>
                    </ul>
                </div>
                <div class="col">
                    <ul>
                        <li>Buttons</li>
                        <li>Forms</li>
                        <li>GUI</li>
                        <li>Navigation</li>
                        <li>UI Kits</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>